{% extends "layout.twig" %}

{% block title %}
    Group settings
{% endblock title %}

{% block main %}

    <main class="container m-4">
        <h1>Group settings</h1>
        <i>{{ group.name }}</i>
    </main>

    <section class="container">
        <h3>Members:</h3>
        <div class="row">
            {% for user in members %}
                <div class="col-sm-4">
                    <div class="card bg-info">
                        <h5 class="card-header">{{ user.given_name }} {{ user.family_name }}</h5>
                        <div class="card-body">
                            <a href="{{ full_url_for('Groups Remove User', {
                                'group_id': group.group_id,
                                'user_id': user.user_id
                            }) }}" class="btn btn-danger" role="button">Remove from group</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </section>

{% endblock main %}