{% extends "layout.twig" %}

{% block title %}

    Home

{% endblock %}

{% block head %}
    <style>
        .card-body {
            max-width: fit-content !important;
            background-color: transparent !important;
            height: 12em;
            overflow: hidden;
        }
    </style>
{% endblock head %}

{% block main %}

    <main class="container m-4">
        <h1>Notes shared to you:</h1>
    </main>

    <section class="container">
        <div class="row">
            {% for note in shared_notes %}
                <div class="col-sm-4 mb-4">
                    <div class="card bg-info">
                        <h5 class="card-header"><a href="{{ full_url_for('Notes View', { 'note_id': note.note_id, 'note_name': note.name }) }}">{{ note.name }}</a></h5>
                        <div class="card-body m-2">
                            <div class="card-text">{{ note.content | raw }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock main %}