{% extends "layout.twig" %}

{% block main %}

    <main class="container m-4">
        <h1>Choose groups to share</h1>

        <form method="post" action="{{ current_url() }}">
            <div class="list-group">

                <div class="row">
                    {% for group in groups %}
                        <div class="col-4">
                            <label class="list-group-item bg-info">
                                <input class="form-check-input" type="checkbox" name="groups[]" value="{{ group.group_id }}"/>
                                {{ group.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>

            </div>

            <input type="submit" class="btn btn-primary" value="Share to selected groups"/>
        </form>
    </main>

{% endblock main %}