body {
    margin: 0;
    min-height: 100vh;
}

body {

    background-color: blanchedalmond;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    padding: 1em;
    text-align: center;
    background-color: aqua;
}

header {
    background-color: blue;
}